/.idea/
*.ps
*.out
*.dvi
*.log
*.aux
*.blg
*.toc
*.log
*.bbl
*.lof
*.lot
*.idx
*.brf
*.ilg
*.ind
/Arbeit.pdf
/cd/Implementierung/.vagrant/
/cd/Implementierung/machines/*/packer_cache
/cd/Implementierung/machines/*/vagrant.box
/cd/Implementierung/machines/ubuntu-14.04.*
